@import "syntax-variables";

atom-text-editor, :host {
  background-color: @syntax-background-color;
  color: @syntax-text-color;

  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @p8-light-gray;
  }

  .invisible {
    color: @p8-light-gray;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}

.pico8-dark-mode {
  .meta {
    &.separator {
      background-color: @syntax-background-color-dark-mode;
    }
  }

  atom-text-editor {
    background-color: @syntax-background-color-dark-mode;

    .gutter {
      background-color: @syntax-gutter-background-color-dark-mode;
    }
  }
}

atom-text-editor .search-results .marker .region,
:host .search-results .marker .region {
  background-color: transparent;
  border-bottom: 1px solid @syntax-result-marker-color;
}

atom-text-editor .search-results .marker.current-result .region,
:host .search-results .marker.current-result .region {
  border: 1px solid @syntax-result-marker-color-selected;
}

.syntax--comment {
  color: @p8-indigo;
}

.syntax--keyword {
  color: @p8-white;

  &.syntax--control {
    color: @p8-pink;
  }

  &.syntax--operator {
    color: @p8-white;
  }

  &.syntax--other.special-method {
    color: @p8-pink;
  }

  &.syntax--other.unit {
    color: @p8-pink;
  }
}

.syntax--storage {
  color: @p8-white;
}

.syntax--constant {
  color: @p8-blue;

  &.syntax--character.escape {
    color: @p8-blue;
  }

  &.syntax--numeric {
    color: @p8-blue;
  }

  &.syntax--other.color {
    color: @p8-blue;
  }

  &.syntax--other.symbol {
    color: @p8-blue;
  }
}

.syntax--variable {
  color: @p8-light-gray;

  &.syntax--interpolation {
    color: @p8-light-gray;
  }

  &.syntax--parameter.function {
    color: @p8-light-gray;
  }
}

.syntax--invalid.illegal {
  background-color: @p8-red;
  color: @syntax-background-color;
}

.syntax--string {
  color: @p8-blue;


  &.syntax--regexp {
    color: @p8-peach;

    .syntax--source.ruby.embedded {
      color: @p8-peach;
    }
  }

  &.syntax--other.link {
    color: @p8-peach;
  }
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array {
      color: @p8-light-gray;
    }

    &.syntax--string,
    &.syntax--heading,
    &.syntax--identity {
      color: @p8-blue;
    }

    &.syntax--bold {
      color: @p8-orange;
      font-weight: bold;
    }

    &.syntax--italic {
      color: @p8-pink;
      font-style: italic;
    }
  }

  &.syntax--section.embedded {
    color: @p8-dark-purple;
  }

}

.syntax--support {
  &.syntax--class {
    color: @p8-orange;
  }

  &.syntax--function  {
    color: @p8-green;

    &.syntax--any-method {
      color: @p8-green;
    }
  }
}

.syntax--entity {
  &.syntax--name.function {
    color: @p8-light-gray;
  }
  &.syntax--name.type {
    color: @p8-orange;
    text-decoration: underline;
  }

  &.syntax--other.inherited-class {
    color: @p8-green;
  }
  &.syntax--name.class, &.name.type.class {
    color: @p8-orange;
  }

  &.syntax--name.section {
    color: @p8-blue;
  }

  &.syntax--name.tag {
    color: @p8-red;
    text-decoration: underline;
  }


  &.syntax--other.attribute-name {
    color: @p8-orange;

    &.syntax--id {
      color: @p8-blue;
    }
  }
}

.syntax--meta {
  &.syntax--class {
    color: @p8-orange;
  }

  &.syntax--link {
    color: @p8-orange;
  }

  &.syntax--require {
    color: @p8-blue;
  }

  &.syntax--selector {
    color: @p8-pink;
  }

  &.syntax--separator {
    background-color: @p8-dark-gray;
    color: @p8-light-gray;
  }
}

.syntax--none {
  color: @p8-light-gray;
}

.syntax--markup {
  &.syntax--bold {
    color: @p8-orange;
    font-weight: bold;
  }

  &.syntax--changed {
    color: @p8-pink;
  }

  &.syntax--deleted {
    color: @p8-red;
  }

  &.syntax--italic {
    color: @p8-pink;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.definition.heading {
    color: @p8-blue;
  }

  &.syntax--inserted {
    color: @p8-green;
  }

  &.syntax--list {
    color: @p8-red;
  }

  &.syntax--quote {
    color: @p8-orange;
  }

  &.syntax--raw.inline {
    color: @p8-green;
  }
}

.syntax--source.gfm .syntax--markup {
  -webkit-font-smoothing: auto;
  &.heading {
    color: @p8-green;
  }
}

atom-text-editor[mini] .scroll-view,
:host([mini]) .scroll-view {
  padding-left: 1px;
}
